spring:
  application:
    name: ledger-service
  datasource:
    url: jdbc:postgresql://localhost:5436/ledger_service
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: false
  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: ledger-service
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
    producer:
      properties:
        spring.json.add.type.headers: false

server:
  port: 8084

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    dev.jkiakumbo.ledgerservice: INFO
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG

ledger:
  accounts:
    merchant-receivables: "MERCHANT_RECEIVABLES"
    revenue: "REVENUE"
    cash: "CASH"
    fees: "FEES"
  retry:
    max-attempts: 3
    backoff-delay: 1000
